doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Загрузка файлов
  link(rel='stylesheet' href='filepond/filepond.min.css')
body
  script(src='filepond/filepond.min.js')
  script(src='static/app.js')
